@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #dcf5f7;
}

.container {
    background-image: url('images/bg.png');
    background-size: cover;
    width: 100%;
    border-radius: 28px; 
    position: relative;
    padding: 25px;
    max-width: 380px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header,
.logo  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 48px;
    /* margin-right: 10px; */
    margin-left: -130px;
}

h5 {
    font-size: 16px;
    font-weight: 400;
    color:#fff
}

header .chip {
    width: 60px;
}
